@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  gap: 16px;
  color: white;
  background: #15524a;
  cursor: pointer;
  margin-right: 0.5rem
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover{
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* create update/delete form */
form {
  margin-top: 30px;
}
form input, form label span, form textarea {
  display: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

/* inventoryitems list */
.inventoryitems > a {
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.inventoryitems > a:hover p {
  color: var(--primary);
}
.inventoryitems p {
  margin: 0;
}
.inventoryitems > a p:last-child {
 font-size: 0.8em;
 color: #bbb;
}

.movieandshowinfo {
  display: grid;
  background: var(--secondary);
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  text-decoration: none;
}

.movieandshowinfo-details {
  display: grid;
  border: 1px solid black;
  background: rgba(0,0,0,0.2);
 /* background: rgb(42, 42, 90); */
  padding: 50px;
  border-radius: 2px;
  margin: 0px 0;
  text-decoration: none;
}

/* tr:nth-child(even) {
  background-color: #372cd4;
} */

tr {
  border-bottom: 1px solid #ddd;
}

td {
  height: 20px;
  text-align: middle;
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #304d83;}

.movieandshowinfoinfo-paper {
  display: flex;
  background: rgba(0,0,0,0.2);
  background-color: #000;
  padding: 2px;
  border-radius: 1px;
  margin: 5px 0;
  text-decoration: none;
  justify-content: center;
  color: white;
}

/* inventoryitems details */
.inventoryitem-details {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 10px 0;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > *{
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #ddd;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}